.idea/vcs.xml
.idea/python-poo.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/copilot.data.migration.ask2agent.xml
.DS_Store
.idea/workspace.xml
Exercicios/ex003/__pycache__/ex003.cpython-314.pyc
Exercicios/ex005/__pycache__/classes_ex005.cpython-314.pyc
